html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  position: absolute;
  height: 100%;
  width: 100%;

  // disable user selecting in most browsers
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

/*
    GENERAL overrode styles
 */
.col {
  padding: 0 !important;
}

/*
    TABLES
    //TODO: refactor "center" class
*/
table {
  font-size: 16px;
  height: 100%;
}

td {
  height: 70px;
  width: 25%;
  border: 1px solid gray;
}

th {
  height: 70px;
  padding: 5px;
  border: 1px solid gray;
  border-bottom: 2px solid gray;
}

#table-container {
  width: 100%;
  height: 100%;
}

#table-container td:nth-child(1), th {
  background-color: #ddd;
}

#tables {
  position: fixed;
  max-height: calc(65% - 40px) !important;
  width: 100%;
  overflow-y: scroll;
}

/*
    TAGS
*/
#tags-container {
  position: absolute;
  height: calc(35% - 50px);
  width: 100%;
  bottom: 89px;
  padding: 25px 0;
  text-align: center;
}

div.chip {
  margin: 0 8px 8px 8px;
  font-size: 18px;
  cursor: move;
}

/*
    CONTROLS PANEL
*/
#controls {
  text-align: right;
  position: fixed;
  bottom: 34px;
  width: 100%;
}

/*
    TIME COUNTER
*/
#progress-background {
  position: fixed;
  background-color: lightgrey;
  width: 100%;
  bottom: 0;
  height: 35px;
}

#progress-fill {
  width: 100%;
  height: 100%;
  background-color: #4CAF50;
}

#timeleft-label-wrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
  line-height: 30px;
  p {
    margin: 0;
  }
}

#timeleft-label {
  font: 25px Consolas, monospace;
}

/*
    RESULT DIALOG WINDOW
*/
#result-dialog-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  #result-dialog-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 15px;
    width: 80%;
    max-width: 350px;
    border-radius: 10px;
    background-color: white;
    #result-dialog {
      width: 100%;
      #result-dialog-text {
        text-align: center;
        margin: 65px auto;
        font-size: x-large;
      }
    }
  }
}
